img {
    display: block;
    margin: 0 auto;
}
button {
    display: block;
    margin: 0 auto;
}
input {
    display: block;
    margin: 0 auto;
    width: 80px;
    font-size: 20px;
}
div.top-bar {
    padding-top: 20px;
}
div.center {
    padding:10px
}
